.tabla_art{
  display: none;
}
.not-res{
  color: red;
  margin:10px;
}

@media (min-width:640px) {
.not-res{
  display: none;
}
.tabla_art{
  display: block;
}
.main_home{
  font-size: 33px;
}

.botonera{
  display: block;

  /*margin: 15px 0;*/
}
.table-master{
margin: 1% 0 0 0;
/*background-color: white;*/

  /*background-color: red;*/
}
.botonera button{
  margin:0 0%;
  padding: 0.4em 2.1em;
  font-size: 1em;
  background-color: rgba(61, 61, 61,0.8);
  color: white;

}


.tabla_art{
  text-align: center;
}

.tabla_art table {
background-color: white;
  display: inline-block;
  font-size: 0.7em;
  border:1px solid black;
  border-collapse:separate;
}

.tabla_art th, td {
  border: 1px solid;
  padding: 10px;
}

.main_contacto{
  font-size: 16px;
  text-align: left;
  margin: 30px;
}

.contacto input{
  margin: 10px;
}
.login{
  background-color: rgba(120, 194, 121,0.7);
  display: inline-block;
  margin: 40px;
  font-size: 20px;
  padding: 20px;
  border-radius: 12px;

}
}@media (min-width:1000px) {
  .botonera button{
    margin:0 0%;
    padding: 1.2em 4.1em;
    font-size: 1em;
    background-color: rgba(61, 61, 61,0.8);
    color: white;

  }
  .tabla_art table {
  background-color: white;
    display: inline-block;
    font-size: 1.2em;
    border:1px solid black;
    border-collapse:separate;
  }
}
