


.main_contacto{
  display: inline-block;
  font-size: 16px;
  text-align: left;
  margin: 30px;
  border-width: 1px;
  border-style: dashed;
  padding: 20px;
  background-color: rgba(190, 202, 226, 0.27);
  margin-top: 80px;
}

.contacto input{
  margin: 10px;
}

.faq h3{
  text-align: left;
}
