*{
  box-sizing: border-box; /*Aplica para los elementos con tamaño definido*/
}

body {

background-image: url("../imagenes/bgimage.jpg");
background-size: cover;
  font-family: 'Merriweather', serif;
/*color: white;*/
  /*max-width: 1200px;*/
  /*border: solid 1px;*/
  text-align: center;
  margin:0;
  padding:0;
}

.main_header{
  /*background-color: #F9B53C;*/
  text-align: center;
    background-color: #064cff;
  width: 100%;
}

.nav_home{
  /*background-color: #F9B53C;*/
  font-size: 16px;
  display: inline-block;
}


.nav_home ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
}

.nav_home a {
  background-color: #064cff;
	display: block;
	padding: 20px;
	text-decoration: none;
	/*color: #191C26;*/
  color: white;
}

.nav_home a:hover {
	background-color: #CC673B;
  /*background-color: grey;*/
}

.nav_home ul li ul {
	display: none;
}

.nav_home ul li a:hover + ul, .nav_home ul li ul:hover {
	display: block;
  position: fixed;
}
