 a {
text-decoration: none;
 overflow: hidden;
}

p{
  margin-right: 1em;
}

h1{
  margin: 2em;
  text-align: center;
  color: rgb(43, 23, 121);
}

.respuestas{
  text-align: left;
  /*position: fixed;*/
  /*overflow: scroll;*/
}

.respuestas li{
  font-size: 1.1em;
  color: rgb(43, 23, 121);
}

.respuestas p{
  font-style: italic;
}
