body{
  background-color: rgba(18, 53, 193, 0.8);
  box-sizing: border-box;
}
.nombre{
  text-align: center;
  padding: 10vw 0 0 0;
}
.nombre h1{
  color: white;
  font-size: 4em;
}
.login{
  display: block;
  margin-left: 40vw;
}
.login textarea, button{
  display: block;
  height: 3em;
  width: 30%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.login  textarea{
  font-size: 18px;
  font-style: bold;
}
.user{
  border-radius: 15px 15px 0 0 ;
}

.login button{
  width: 30.2%;
  border-radius: 0 0 15px 15px;
  background-color: green;
}
.olvidar{

  text-decoration: none;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
