h1{
  text-align: center;
  color: blue;
}

textarea{

  width: 40vw;
}
input , textarea{
  margin:0;
  text-align: center;
  border: solid 1px grey;
  border-radius: 15px;
  padding: 0;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
input{
  font-size: 1.4em;
}
.enviar{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
  color: white;
  padding: 1em;
  border-radius: 15px;
}
label{
  color: grey;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  display: block;
}

.main_contacto{
  display: block;
  font-size: 16px;
  text-align: left;
  margin: 30px;
  border-width: 1px;
  /*border-style: dashed;*/
  /*border-radius: 15px;*/

  background-color: rgba(190, 202, 226, 0.27);
  margin-top: 80px;
}

@media (min-width:700px) {


.main_contacto{
  display: inline-block;
  font-size: 16px;
  text-align: left;
  margin: 30px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(190, 202, 226, 0.27);
  margin-top: 80px;
}
h1{
  text-align: center;
  color: blue;
}
.enviar{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
  color: white;
  padding: 1em;
  border-radius: 15px;
}
.contacto input{
  margin: 10px;
}

.faq h3{
  text-align: center;
}
}
