input{
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px;
  text-align: center;
  font-size: 2em;
  border-radius: 17px;
}
.buton{
margin:0;
padding: 0;
position: inherit;
float: inherit;
  background-color: blue;
  border-radius: 15px;
  font-size: 2em;
  color: white;
  padding: 12px;
  padding: 12px 3.4em;


}
.bottonera{
  display: block;
box-sizing: content-box;
position: relative;
left: 50%;
transform: translateX(-50%);
}
