



h1{
  text-align: center;
}

.respuestas{
  text-align: left;
  /*position: fixed;*/
  /*overflow: scroll;*/
}

.respuestas li{
  color: rgb(41, 10, 41);
}

.respuestas p{
  font-style: italic;
}
