

.main_header{
  /*background-color: #F9B53C;*/
  text-align: center;
    background-color: #F9B53C;
  width: 100%;
}

.nav_home{
  /*background-color: #F9B53C;*/
  font-size: 16px;
  display: inline-block;
}


.nav_home ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
}

.nav_home a {
  background-color: #F9B53C;
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #191C26;
}

.nav_home a:hover {
	background-color: #CC673B;
}

.nav_home ul li ul {
	display: none;
}

.nav_home ul li a:hover + ul, .nav_home ul li ul:hover {
	display: block;
  position: fixed;
}
.main_contacto{
  font-size: 16px;
  text-align: left;
  margin: 30px;
}

.contacto input{
  margin: 10px;
}

.faq h3{
  text-align: left;
}
