html{
  margin:0;
  padding:0;
}
body{
  box-sizing: border-box;
  background-color: #E42E27;
  font-family: sans-serif;
  margin:0;
  padding:0;
}


.nombre{
  text-align: center;
  padding: 7vw 0 0 0;
}
.nombre h1{
  color: white;
  font-size: 4em;
}
.login{
  /*background-color: rgb(37, 5, 193);*/
  display: block;
  margin-left: 40vw;
}
.login label{
  display: block;
  color: white;
  font-size: 2em;
  margin-top: 0.4em;
  /*text-align: center;*/
}
.login input, button{
  display: block;
  height: 2em;
  width: 9em;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
}
.login  input{
  font-size: 1.2em;
  width: 7em;
  text-align: center;

  border-radius: 15px;
  font-size: 1em;
}


.login button{
  width: 14.5em;
  height: 4em;
  border-radius: 15px;
  background-color: black;
  color: white;
  margin: 5% 0 0 0;
}
.olvidar{
color: white;
  text-decoration: none;
  /*text-align: left;*/
  display: block;
  position: absolute;
  left: 48.6%;
  transform: translateX(-50%);
}
